<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Travel Buddy</title>
    <nav>
        <form action="/sessions/new">
            <input type="submit" value="Login">
        </form>
        <form action="/users/new">
            <input type="submit" value="Sign up">
        </form>
    </nav>
</head>

<body>
    <center>
        <img src="https://i.imgur.com/UPd2Pai.jpg" alt="Travel Buddy Logo">
        <h1>Travel Buddy</h1>
        <form action="/travel">
            <input type="submit" value="Lets Begin">
        </form>
    </center>
</body>

</html>